.App {
  display: flex;
  justify-content: center;
  align-items: center;
}

.App h1 {
  font-size: 24px;
  margin: unset;
  margin-left: 1rem;
}

.wrapper {
  text-align: center;
}

.App .MuiSelect-root {
  width: 12rem;
}

.App .MuiInputLabel-root {
  margin-bottom: 0.5rem;
}

.national-currency {
  margin-bottom: 1rem;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
}

.national-currency div {
  text-align: start;
}

#applied-curr,
#base-curr {
  width: 8rem;
}

.base-currency {
  display: flex;
  align-items: flex-end;
}
